site_name: Langvio Documentation
site_url: https://langvio.readthedocs.io/
site_description: Natural Language Computer Vision - Connect LLMs with Vision Models
repo_url: https://github.com/MugheesMehdi07/langvio
repo_name: MugheesMehdi07/langvio
edit_uri: edit/main/docs/

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: blue
      accent: orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: blue
      accent: orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github
  # logo: assets/logo.png
  # favicon: assets/favicon.ico

plugins:
  - search:
      lang: en
  - mkdocstrings:
      handlers:
        python:
          paths: [.]
          options:
            docstring_style: google
            show_source: false
            show_bases: true
            show_inheritance_diagram: true
  - autorefs

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_png
      emoji_index: !!python/name:pymdownx.emoji.twemoji
  - attr_list
  - md_in_html
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Getting Started:
    - Getting Started: getting-started/getting_started.md
  - User Guide:
    - Configuration: guides/configuration.md
    - Examples: guides/examples.md
  - API Reference:
    - API Reference: reference/api.md
  - Advanced:
    - Advanced Features: advanced/features.md
  - Development:
    - Contributing: ../CONTRIBUTING.md
    - Testing: ../tests/README.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/MugheesMehdi07/langvio
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/langvio/
  version:
    provider: mike